header{
    text-align: center;
    font-size: 
}

img{
    width: 15px;
    height: 10px;
    
}

h1{
    margin: ;
    font-size: 8px;
}

article ul{
    display: inline-block;
    list-style-type: none;
}

